.landingBodyWrap {
  background: #e6e3cc;
}

.welcome {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  background: #e6e3cc;
  text-align: center;
  font-size: 20px;
}

.intro {
  background: #e6e3cc;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

.foot {
  background: #e6e3cc;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1px;
  font-size: medium;
}

.nameInput {
  background: #e6e3cc;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

#nameInputBar {
  background:  hsl(56, 76%, 35%);
  padding-left: 50px;
  color: #e6e3cc;
  height: 1.5rem;
  width: 60%;
  font-size: 16px;
}

