.fox {
    background: #e3e6cc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-height: 10rem;
    min-height: 5rem;
    animation:fadeIn 6s;
    padding:0;
    margin-top:50px;
    opacity: 50%;
  }

  @keyframes fadeIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 50%;
    }
  }

  .landingHeader {
    font-family: "Monsieur La Doulaise";
    color: hsl(216, 33%, 56%);
    background: #e3e6cc 35%;  
    text-align: center;
    font-size: 5rem;
    margin: 10px 0 20px 0;
    font-weight: 1000;
    text-shadow: 1px 1px 1px  black;
    animation: cutInImage 1.5s;
  }

  @keyframes cutInImage {
    from {
      opacity: 0%;
    }
    to {
      opacity: 25%;
    }
  }

  .landing-divider {
    background: #e3e6cc;
    width:100%;
    color: #9192b9;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .foot-divider {
    background: #e3e6cc;
    display:flex;
    word-break: break-all;
    justify-content: center;
    color: #9192b9;
    text-align: center;
    font-size: 2rem;
  }
  

  .logoPage {
    background: #e3e6cc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-image {
    background: #e3e6cc;
    display:flex;
    margin:auto;
    width:0%;
    flex-direction: column;
    justify-content: center;
    max-height: 10rem;
    min-height: 6rem;
    opacity: 25%;
    margin-top: 3vh;
    animation: cutInImage 1.5s;
  }

  .playBtn {
    background: hsla(61, 24%, 53%, 0.781);
    margin:auto;
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    font-weight: 1000;
    color:#e3e6cc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: cutIn 1.5s;
  }

  .playBtnTag {
    font-size: 3rem;
    font-weight: 1000;
    margin: 6rem 0 2rem 0;
    display:flex;
    opacity: 0%;
    animation: cutIn 1.5s infinite;
    padding-right: 20px;
  }

  @keyframes cutIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 75%;
    }
  }
  

  .logo-tag-logo {
    background: #e3e6cc;
    text-decoration: none;
    margin: 20px 0 80px 0;
    color:  hsl(247, 39%, 23%);
    cursor:default;
    opacity: 45%;
    font-size: 3rem;
    animation: cutInImage 1.5s;
  }
  
  .btnWrapper {
    background: #e3e6cc;

  }

  .landing-divider-bottom {
    background: #e3e6cc;
    width:100%;
    color: #9192b9;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 4rem 0;
  }