.fox {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  max-height: 8rem;
  min-height: 5rem;
  animation: fadeIn 6s;
  opacity: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 50%;
  }
}

.logo-tag-logo {
  background: #e3e6cc;
  color: hsl(0, 39%, 23%);
  margin: 10px 0 120px 0;
  opacity: 45%;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  cursor: default;
  animation: cutInImage 1.5s;
}

header.landingHeader {
  margin-top: 0;
  font-family: "Macondo Swash Caps";
  border-radius: 5%;
  text-shadow: 5px 5px 2px black;
  text-decoration: overline;
  height: 13rem;
  text-align: center;
  align-content:end;

  @media (max-width: 540px) {
    height: 10rem;
    font-size: 3.8rem;
    margin-bottom: 40px;
  }
  @media (max-width: 440px) {
    font-size: 3.5rem;
  }
  @media (max-width: 410px) {
    font-size: 3.2rem;
    align-content: center;
  }
  @media (max-width: 388px) {
    font-size: 2.8rem;
  }
  @media (max-width: 340px) {
    font-size: 2.5rem;
  }
  @media (max-width: 320px) {
    height: 8rem;
    font-size: 2rem;
  }
}

.logoPage {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playBtn {
  background: hsla(61, 24%, 53%, 0.781);
  color: #e3e6cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 3rem;
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  border: 2px ridge hsla(60, 21%, 38%, 0.781);
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  cursor: pointer;
  outline: none;
  animation: cutIn 1.5s;
}

.playBtn:hover {
  background: hsla(56, 42%, 60%, 0.842);
}

.playBtn:active {
  color: #f3f7db;
  -webkit-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  -moz-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
}

.playBtnTag {
  display: flex;
  text-align: center;
  margin: 6rem 0 2rem 0;
  padding-right: 20px;
  font-size: 2rem;
  opacity: 0%;
  animation: cutIn 1.5s infinite;
}

@keyframes cutIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 75%;
  }
}

.btnWrapper {
  background: #e3e6cc;
}

.landing-divider-bottom {
  background: #e3e6cc;
  color: #9192b9;
  margin: 2rem 0 4rem 0;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
