.fox {
    background: #e6e3cc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-height: 20rem;
    min-height: 10rem;
    height:50vw;
    margin-top: 4rem;
    animation:fadeIn 6s;
  }

  .landingHeader {
    margin-top:2rem;
    font-size: 44px;
  }

  .landing-divider {
    background: #e6e3cc;
    width:100%;
    color: #b9b591;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .foot-divider {
    background: #e6e3cc;
    display:flex;
    word-break: break-all;
    justify-content: center;
    color: #b9b591;
    text-align: center;
    font-size: 2rem;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  .logoPage {
    background: #e6e3cc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-image {
    background: #e6e3cc;
    display:flex;
    margin:auto;
    width:70%;
    flex-direction: column;
    justify-content: center;
    max-height: 10rem;
    min-height: 6rem;
    height:500px;
    opacity: 25%;
    margin-top: 3vh;
    animation: cutInImage 1.5s;
  }

  .playBtn {
    background: #e6e3cc;
    margin:auto;
    margin-top: 2rem;
    height: 50px;
    width: 100px;
    font-size: 18px;
    color: hsl(41, 39%, 23%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: cutIn 1.5s;
  }

  .playBtnTag {
    font-size: 14px;
    margin-top: 6rem;
    display:flex;
    opacity: 0%;
    animation: cutIn 1.5s infinite;
  }
  

  .logo-tag-logo {
    background: #e6e3cc;
    text-decoration: none;
    color: hsl(41, 39%, 23%);
    cursor:default;
    opacity: 45%;
    font-size: 12px;
    animation: cutInImage 1.5s;
  }
  

  .btnWrapper {
    background: #e6e3cc;
  }

  @keyframes cutIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  @keyframes cutInImage {
    from {
      opacity: 0%;
    }
    to {
      opacity: 25%;
    }
  }