.landingBodyWrap {
  background: #e3e6cc;
}

.welcome {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  background: #e3e6cc;
  text-align: center;
  font-size: 3rem;
  font-weight: 1000;
  color: hsl(120, 39%, 23%);
  & {
    @media (width <= 540px) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}

.intro {
  background: #e3e6cc;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  color: hsl(120, 41%, 31%);
}

.nameInput {
  background: #e3e6cc;
  display: flex;
  align-items: last baseline;
  gap: 1rem;
  padding-top: 20px;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#nameInputBar {
  background: hsl(121, 25%, 40%);
  color: #e3e6cc;
  height: 2.5rem;
  width: 100%;
  font-size: 2rem;
  margin: 10px 0 70px 0;
  padding-left: 50px;
  & {
    @media (width <= 540px) {
      height: 2rem;
      font-size: 1.5rem;
      padding-left: 30px;

    }
  }
}

.inputBarInstruct {
  background: #e3e6cc;
  margin: 60px 0 10px 0;
  text-align: center;
  color: hsl(120, 41%, 31%);
  font-size: 2rem;
}

.nameSubmitBtn {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px ridge hsla(60, 21%, 38%, 0.781);
  color: #e3edfc;
  text-shadow: 2px 2px 5px black;
  width: 40%;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      height: 2rem;
      font-size: 1.3rem;
    }
  }
}

.nameSubmitBtn:hover {
  background: hsla(56, 42%, 60%, 0.842);
}

.nameSubmitBtn:active {
  -webkit-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  -moz-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  outline: none;
}
