.itemProfile {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin:auto;
  width:100%;
}

.menuBtn-inventory {
  display: flex;
  flex: 3 3 30%;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  background: hsla(61, 24%, 53%, 0.781);
  color: #e3e6cc;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline:#e3edfc;
  border: 2px  hsla(60, 21%, 38%, 0.781);
  text-shadow: 2px 2px 5px black;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      height: 2.5rem;
      font-size: 1.5rem;
    }
  }
}

.menuBtn-inventory:active {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.menuBtn-inventory:hover,
.menuBtn-inventory:focus-visible {
  color: #fafce3;
  background:hsla(56, 33%, 60%, 0.842);
}

.inventoryButtons {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;

}

.itemsHeader {
  background: #e3e6cc;
  color:hsl(117, 21%, 35%);
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  & {
    @media (width <= 540px) {
      font-size: 1.5rem;
    }
  }
}

.scrollInventory {
  background: #e3e6cc;
  color:hsl(117, 21%, 35%);
  display:flex;
  flex-direction: column;
  gap:10px;
  font-size: 2rem;
}

li.scrollInventory {
  background: #e3e6cc;
  font-size: 1.5rem;
  margin:auto;
  width:35%;

  & {
    @media (width <= 540px) {
      margin:auto;
      width:60%;
    }
  }
}

.logo-tag-inv {
  background: #e3e6cc;
  text-decoration: none;
  margin-top: 5vh;
  color: hsl(0, 41%, 31%);
  cursor: default;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  & {
    @media (width <= 540px) {
      font-size: .8rem;
    }
  }
}
