.logo-tag-item {
  background: #e3e6cc;
  text-decoration: none;
  margin-top: 5vh;
  color: hsl(246, 41%, 31%);
  cursor: default;
  font-size: 2rem;
}

.inventoryHeader {
  background: #e3e6cc;
  text-align: center;
  font-size: 3rem;
  margin: 2.5rem 0 2rem 0;
}

.totalGold {
  background: #e3e6cc;
  text-align: center;
  margin-top: 30px;
}

.inventoryButtons {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.item-brood-Header {
  background: #e3e6cc;
  text-align: center;
  font-size: 2.5rem;
  margin: 2.5rem 0 2rem 0;
}

.scrollInventory {
  background: #e3e6cc;
  display:flex;
  margin:auto;
  justify-content: center;
  margin: 40px 0 30px;
}
