.spellbook-update {
  background: #e3e6cc;
  font-size: 1rem;
  line-height: 35px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
