/*DAILY QUEST LISTS*/
.bodyWrapper {
  background: #e3e6cc;
}

.dailyHeader {
  background: #e3e6cc;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.daily-info {
  background: #e3e6cc;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 30px;
}


.dailyList {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 5.5rem;
  list-style: none;
  font-size: 2rem;
  text-align: center;
}

.dailyList li:has(input:checked) label {
  color: hsl(51, 31%, 69%);
}

.dailyList li {
  background: #e3e6cc;
  display: flex;
  gap: 1rem;
}

.dailyList li label {
  background: #e3e6cc;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.dailyList li:has(input:focus-visible) label {
  outline: 1px solid hsl(54, 98%, 21%);
}

.dailyList li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.dailyList li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(58, 33%, 56%);
}

.dailyList li label:hover::before {
  background: hsl(59, 58%, 68%);
}

.dailyList li:has(input:checked) label::before {
  content: "x";
  background: hsl(56, 76%, 35%);
  color: hsl(66, 100%, 90%);
  font-size: .5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.dailyList li:has(input:checked) label:hover::before {
  background: hsl(56, 76%, 23%);
}

.daily-form-row {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
}

form.new-daily-form {
  background: #e3e6cc;
}

.new-daily-form input {
  outline: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 3px double hsl(236, 45%, 22%);
  background: hsla(212, 35%, 39%, 0.781);
  padding: 0.25em 1em;
  margin-top: 10px;
  color: hsl(197, 58%, 85%);
  font-size: 1rem;
  height: 35px;
}

.new-daily-form input:focus {
  border: 3px ridge hsla(202, 35%, 39%, 0.781);
}

.btn.dailyBtn {
  border: 2px ridge hsla(62, 20%, 35%, 0.781);
  color: #e3edfc;
  text-shadow: 2px 2px 5px black;
  padding: 0.25em 0.5em;
  width: 100%;
  font-size: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);

}

#completeDaily {
  background: #e3e6cc;
  text-align: right;
  font-size: 4rem;
  padding: 20px 0px 40px 0px;
}

#clearBtn {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px ridge hsla(60, 21%, 38%, 0.781);
  color: #e3edfc;
  text-shadow: 2px 2px 5px black;
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  font-weight: 1000;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
}

#clearBtn:hover,
#clearBtn:focus-visible {
  background: hsla(56, 42%, 60%, 0.842);
}

.logo-tag {
  background: #e3e6cc;
  text-decoration: none;
  color: hsl(233, 39%, 23%);
  cursor: default;
  font-size: 2rem;
}
