/*DAILY QUEST LISTS*/
.daily-info {
  background: #e6e3cc;
  margin:auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 10px;
  line-height: 25px;
}

.dailyList {
  background: #e6e3cc;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 5.5rem;
  list-style: none;
  gap: 0.6rem;
  font-size: 10px;
  text-align: center;
}

.dailyList li:has(input:checked) label {
  color: hsl(51, 31%, 69%);
}

.dailyList li {
  background: #e6e3cc;
  display: flex;
  gap: 1rem;
}

.dailyList li label {
  background: #e6e3cc;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.dailyList li:has(input:focus-visible) label {
  outline: 1px solid hsl(54, 98%, 21%);
}

.dailyList li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.dailyList li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(58, 33%, 56%);
}

.dailyList li label:hover::before {
  background: hsl(59, 58%, 68%);
}

.dailyList li:has(input:checked) label::before {
  content: "x";
  background: hsl(56, 76%, 35%);
  color: hsl(66, 100%, 90%);
  font-size: 0.5rem;
  font-weight: bold;
}

.dailyList li:has(input:checked) label:hover::before {
  background: hsl(56, 76%, 23%);
}

.nameInput {
  background: #e6e3cc;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0.5rem;
  font-size: 12px;
}

#nameInputBar {
  background: hsl(58, 33%, 56%);
  color:#e6e3cc;
  height: 25px;
}

.nameSubmitBtn {
  background:  #e6e3cc;
}

.nameSubmitBtn:hover {
  background:  #f8f6e3;
}

.nameSubmitBtn:active {
  background:  #e6e3cc;
  -webkit-box-shadow: inset 0px 0px 5px #a8a8a8;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#completeDaily {
  background: #e6e3cc;
  text-align: right;
  font-size: 10px;
  padding: 20px 0px 40px 0px;
}

.daily-form-row {
  background: #e6e3cc;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

form.new-daily-form {
  background: #e6e3cc;
}

.btn.dailyBtn {
  border: 2px ridge hsl(40, 21%, 61%);
  color: hsl(29, 44%, 22%);
  padding: 0.25em 0.5em;
  width: 100%;
  margin-top: 0.5rem;
  cursor: pointer;
  outline: none;
}


.daily-header {
  background: #e6e3cc;
  font-size: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 10rem;
  text-align: center;
  text-decoration: underline;
}

#clearBtn {
  margin: 0;
  padding: 0.25em 0.5em;
  width: 100%;
  font-size: 10px;
  cursor: pointer;
  outline: none;
  background-color: #b9b591;
  color: hsl(29, 44%, 22%);
  border-color: #b9b591;
}

.dailyHeader {
  background: #e6e3cc;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0 2rem 0;
}



#clearBtn:hover,
#clearBtn:focus-visible {
  background: hsla(63, 53%, 80%, 0.842);
}

.new-daily-form input {
  outline: none;
  border: 3px double hsl(29, 44%, 22%);
  background: hsla(61, 35%, 39%, 0.781);
  padding: 0.25em 1em;
  color: hsl(60, 59%, 85%);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  height: 35px;
}

.new-daily-form input:focus {
  border: 3px ridge hsla(61, 35%, 39%, 0.781);
}

.bodyWrapper {
  background:#e6e3cc;
}

.logo-tag {
  background: #e6e3cc;
  text-decoration: none;
  margin-top: 11.5vh;
  color: hsl(41, 39%, 23%);
  cursor:default;
  font-size: 12px;
}
