/*DAILY QUEST LISTS*/
.bodyWrapper {
  background: #e3e6cc;
}

.questHeaderWrap {
  background: #e3e6cc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dailyHeader {
  background: #e3e6cc;
  color: hsl(117, 21%, 35%);
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  & {
    @media (width <= 540px) {
      font-size: 1.8rem;
    }
  }
}

/*'?' button next to the header*/
.questExplanation {
  background: transparent;
  color:hsla(61, 24%, 53%, 0.781);
  border: none;
  font-size: 3rem;
  margin-left: 12px;
  text-shadow: 1px 1px 1px hsl(10, 44%, 16%);
  & {
    @media (width <= 540px) {
      font-size: 2rem;
    }
  }
}

.questExplanation:active {
  color: hsl(108, 40%, 15%);
  text-shadow: 0px 0px 2px hsl(32, 43%, 31%);
  outline: none;
}

.questExplanation:hover {
  color: hsla(56, 42%, 60%, 0.842);
  cursor: pointer;
}

/*Dialogue that pops up when you press '?' button*/
.quest-info {
  background: #e3e6cc;
  margin: auto;
  color: hsl(108, 40%, 15%);
  text-align: center;
  padding: .5rem 0 1rem 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 30px;
  & {
    @media (width <= 540px) {
      font-size: .80rem;
      line-height: 20px;
    }
  }
}

/*Input bar for quests*/
.new-quest-form input {
  outline: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 3px double hsl(106, 45%, 17%);
  background: hsl(117, 21%, 35%);
  padding: 0.25em 1em;
  margin-top: 10px;
  color: hsl(125, 58%, 85%);
  font-size: 1.3rem;
  height: 35px;
  @media (max-width: 540px) {
    font-size: .8rem;
  }
}

.new-quest-form input:focus {
  border: 3px hsl(118, 13%, 57%);
}

/*Add Quest Button*/
.btn.dailyBtn {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px hsla(62, 20%, 35%, 0.781);
  color: #e3e6cc;
  text-shadow: 2px 2px 5px black;
  padding: 0.25em 0.5em;
  width: 100%;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      font-size: 1rem;
    }
  }
}

.btn.dailyBtn:active {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.btn.dailyBtn:hover,
.m.btn.dailyBtn:focus-visible {
  color: #e3edfc;
  background:hsla(56, 33%, 60%, 0.842);
}

/*Error message if input doesn't contain text when Add Quest btn pressed*/
.formError {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #e3e6cc;
  text-align: center;
  color: rgb(206, 68, 68);
  font-size: 1rem;
  text-align: center;
  & {
    @media (width <= 540px) {
      font-size: .80rem;
      display:center;
      margin:auto;
      padding-top: 10px;
      width: 80%;
    }
  }
}

/*Form List*/
.dailyList {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 5.5rem;
  padding-right: 50px;
  list-style: none;
  font-size: 2rem;
  text-align: center;
  & {
    @media (width <= 540px) {
      font-size: 2rem;
      padding-right: 50px;
    }
  }
}

.dailyList li:has(input:checked) label {
  color: hsl(51, 31%, 69%);
}

.dailyList li {
  background: #e3e6cc;
  display: flex;
  gap: 1rem;
  
}

.dailyList li label {
  background: #e3e6cc;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
  & {
    @media (width <= 540px) {
      font-size: 1.2rem;
    }
  }
}

.dailyList li:has(input:focus-visible) label {
  outline: 1px solid hsl(54, 98%, 21%);
}

.dailyList li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.dailyList li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(58, 33%, 56%);
}

.dailyList li label:hover::before {
  background: hsl(59, 58%, 68%);
}

.dailyList li:has(input:checked) label::before {
  content: "x";
  background: hsl(56, 76%, 35%);
  color: hsl(66, 100%, 90%);
  font-size: .5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.dailyList li:has(input:checked) label:hover::before {
  background: hsl(56, 76%, 23%);
}

ul.dailyList {
  font-size: 1.5rem;
}

.quest-form-row {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
}

form.new-quest-form {
  background: #e3e6cc;
}


/*Turn in Quests Btn*/
#submitBtn {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px hsla(60, 21%, 38%, 0.781);
  color: #e3e6cc;
  text-shadow: 2px 2px 5px black;
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      font-size: 1rem;
    }
  }
}

#submitBtn:active {
  color: hsl(19, 41%, 31%);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

#submitBtn:hover,
#submitBtn:focus-visible {
  color: #fafce3;
  background:hsla(56, 33%, 60%, 0.842);
}

.btn.btn-danger {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px hsla(60, 21%, 38%, 0.781);
  color: #e3e6cc;
  text-shadow: 2px 2px 5px rgb(22, 15, 1);
  width: 100%;
  margin-top: 10px;
  padding: 0.25em 0.5em;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      background: hsla(13, 24%, 53%, 0.781);
      font-size: 1rem;
    }
  }
}

.btn.btn-danger:active {
  color: hsl(7, 41%, 31%);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(0, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(0, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(0, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background:  hsla(4, 56%, 46%, 0.575);
  color: #e3edfc;
}

.logo-tag {
  background: #e3e6cc;
  text-decoration: none;
  color: hsl(0, 41%, 31%);
  cursor: default;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  & {
    @media (width <= 540px) {
      font-size: .8rem;
    }
  }
}
