/*--QUEST PAGE--*/
.questHeader {
  background: #ccd7e6;

  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.questHeaderWrap {
  background: #ccd7e6;

  display:flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  gap:12px;
  align-items: center;
}


.questWrapper {
  background: #ccd7e6;

}

#completeQuest {
  background: #ccd7e6;

  text-align: right;
  font-size: 10px;
  margin: 20px 0px 40px 0px;
}

.new-quest-form {
  background: #ccd7e6;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  background: #ccd7e6;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.new-quest-form input {
  outline: none;
  border: 3px double hsl(236, 45%, 22%);
  background: hsla(212, 35%, 39%, 0.781);
  padding: 0.25em 1em;
  color: hsl(197, 58%, 85%);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  height: 35px;
}

.new-quest-form input:focus {
  border: 3px ridge hsla(61, 35%, 39%, 0.781);
}

.quest-header {
  background: #ccd7e6;
  font-size: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}

.list {
  background: #ccd7e6;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  list-style: none;
  gap: 0.6rem;
  font-size: 10px;
  text-align: center;
  padding-top:50px;
}

.list li {
  background: #ccd7e6;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list li label {
  background: #ccd7e6;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  background: #ccd7e6;
  outline: 1px solid hsl(54, 98%, 21%);
}

.list li label::before {
  background: #ccd7e6;
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  background: hsl(58, 33%, 56%);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-tag-quest {
  background: #ccd7e6;
  text-decoration: none;
  margin-top: 11.5vh;
  color: hsl(246, 41%, 31%);
  cursor:default;
  font-size: 12px;
}

.formError {
  background: #ccd7e6;
  text-align: center;
  color:rgb(206, 68, 68);
  font-size: 12px;
}