/*-- EGGS --*/
.scrollProfile {
    background: #ccd7e6;
    justify-items: center;
}

img.scroll {
    height:50px;
    background: #ccd7e6;
}

.scrollDiv {
    background: #ccd7e6;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
    /* padding-left: 2rem; */
}

.scrollAmount {
    background: hsla(61, 35%, 39%, 0.781);
    width: 75px;
    height:35px;
    font-size: 16px;
    color:#ccd7e6;
    /* margin-left: 2rem; */
}

.scrollPurchase {
    background: #ccd7e6;
    width:150px;
    text-align: center;
    height:30px;
    margin:10px;
}

/*-- ITEMS --*/
.itemProfile {
    background: #ccd7e6;
    justify-items: center;
}

.itemIcons {
    height: 100px;
    background: #ccd7e6;
}


.itemDiv {
    background: #ccd7e6;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
    /* padding-left: 2rem; */
}

/*-- BOTH --*/

label {
    padding-left: 1rem;
}

.cost {
    background: #ccd7e6;
    display:flex;
    align-items: center;
    margin-left: .2rem;
}


.itemAmount {
    background: hsla(61, 35%, 39%, 0.781);
    width: 75px;
    height:35px;
    font-size: 16px;
    color:#ccd7e6;
    /* margin-left: 2rem; */
}

.itemPurchase {
    background: #ccd7e6;
    width:150px;
    text-align: center;
    height:30px;
    margin:10px;
}

.marketButtons {
    background: #ccd7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 30px 0;
    gap: 30px;
}

.purchaseWrap {
    background:#ccd7e6;
}

.logo-tag-market {
    background: #ccd7e6;
    text-decoration: none;
    margin-top: 7.8vh;
    color:hsl(246, 41%, 31%);
    cursor:default;
    font-size: 12px;
  }