.totalGold {
  background: #e3e6cc;
  color:hsl(117, 21%, 35%);
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  & {
    @media (width <= 540px) {
      font-size: 1.2rem;
    }
  }
}

.userHeader {
  background: #e3e6cc;
  text-align: center;
  color:hsl(117, 21%, 35%);
  font-size: 2.5rem;
  & {
    @media (width <= 540px) {
      font-size: 1.5rem;
    }
  }
}

/*explanation for shop when you click on '?'*/
.scroll-info {
  background: #e3e6cc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: hsl(117, 21%, 35%);
  text-align: center;
  line-height: 30px;
  margin-bottom: 55px;

  & {
    @media (width <= 540px) {
      font-size: 0.8rem;
      line-height: 20px;
    }
  }
}

/*wrappers for item divs, Items and their labels*/
.scrollDiv {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding-bottom: 30px;
  & {
    @media (width <= 540px) {
      justify-content: center;
    }
  }
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:hsl(117, 21%, 35%);
  font-size: 1.8rem;
  & {
    @media (width <= 540px) {
      padding: 0;
      font-size: 1.2rem;
    }
  }
}

img.scroll {
  height: 50px;
  background: #e3e6cc;
  & {
    @media (width <= 540px) {
      height: 40px;
    }
  }
}

.cost {
  background: #e3e6cc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  & {
    @media (width <= 540px) {
      font-size: 0.8rem;
    }
  }
}

/*Purchase Btn, Qty Input, and div wrapper around it*/
.purchaseWrap {
  background: #e3e6cc;
}

input.scrollQtys {
  background: hsla(61, 35%, 39%, 0.781);
  font-size: 2rem;
  padding-left: 8px;
  height: 40px;
  width: 60px;
  & {
    @media (width <= 540px) {
      height: 30px;
      width: 40px;
      font-size: 1rem;
    }
  }
}

.scrollPurchase {
  background: #e3e6cc;
  width: 150px;
  color: hsl(108, 40%, 15%);
  text-align: center;
  height: 50px;
  margin: 10px;
  font-size: 1.5rem;
  & {
    @media (width <= 540px) {
      margin-top: 0;
      height: 2rem;
      width: 100px;
      font-size: 1rem;
    }
  }
}

.scrollPurchase:active {
  -webkit-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  -moz-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  outline: none;
}

.market-divider {
  background: #e3e6cc;
}

.logo-tag-market {
  background: #e3e6cc;
  text-decoration: none;
  margin-top: 5vh;
  color: hsl(0, 41%, 31%);
  cursor: default;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  & {
    @media (width <= 540px) {
      font-size: 0.8rem;
    }
  }
}
