.menuBtn-market {
  background: hsla(61, 24%, 53%, 0.781);
  color: #e3e6cc;
  display: flex;
  flex: 3 3 30%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 2.5rem;
  font-weight: 1000;
  cursor: pointer;
  outline:#e3edfc;
  border: 2px ridge hsla(60, 21%, 38%, 0.781);
  text-shadow: 2px 2px 5px black;
  outline: none;
  font-weight: 1000;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
  & {
    @media (width <= 540px) {
      font-size: 1.5rem;
    }
  }
}

.menuBtn-market:active {
  color: hsl(246, 41%, 31%);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.menuBtn-market:hover,
.menuBtn-market:focus-visible {
  color: #e3edfc;
  background:hsla(56, 33%, 60%, 0.842);
}

/*-- SCROLLS --*/
.scrollProfile {
  background: #e3e6cc;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 10px;
}

input.scrollQtys {
    background: hsla(61, 35%, 39%, 0.781);
    font-size: 3rem;
    height: 50px;
    width: 50px;
    & {
      @media (width <= 540px) {
        height: 25px;
        width: 25x;
        font-size: 2rem;
      }
    }
  }

img.scroll {
  height: 50px;
  background: #e3e6cc;
}

.scrollDiv {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding-bottom: 75px;
  & {
    @media (width <= 540px) {
      justify-content: center;
    }
  }
}

.scrollAmount {
  background: hsla(61, 35%, 39%, 0.781);
  width: 75px;
  height: 35px;
  font-size: 16px;
  color: #e3e6cc;
  
}

.scrollPurchase {
  background: #e3e6cc;
  width: 150px;
  text-align: center;
  height: 30px;
  margin: 10px;
  font-size: 1.5rem;
}

.scrollPurchase:active {
  -webkit-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  -moz-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  outline: none;
}

.scroll-info {
  background: #e3e6cc;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 30px;
}

label {
  padding-left: 1rem;
  font-size: 2rem;
}

.cost {
  background: #e3e6cc;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  & {
    @media (width <= 540px) {
      font-size: .8rem;
    }
  }
}

.itemAmount {
  background: hsla(61, 35%, 39%, 0.781);
  width: 75px;
  height: 35px;
  font-size: 16px;
  color: #e3e6cc;
}

.itemPurchase {
  background: #e3e6cc;
  width: 150px;
  text-align: center;
  height: 30px;
  margin: 10px;
  font-size: 1.5rem;
}

.itemPurchase:active {
  -webkit-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  -moz-box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  box-shadow: inset 0px 0px 5px hsla(57, 21%, 21%, 0.842);
  outline: none;
}

.marketButtons {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 30px 0;
  gap: 30px;
}

.purchaseWrap {
  background: #e3e6cc;
}

img.item {
  background: #e3e6cc;
  & {
    @media (width <= 540px) {
      height:75px;
    }
  }
}

input.itemQtys {
    background: hsla(61, 35%, 39%, 0.781);
    font-size: 3rem;
    height: 50px;
    width: 50px;
    & {
      @media (width <= 540px) {
        height: 25px;
        width: 25x;
        font-size: 2rem;
      }
    }
  }

.logo-tag-market {
  background: #e3e6cc;
  text-decoration: none;
  margin-top: 5vh;
  color: hsl(246, 41%, 31%);
  cursor: default;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.userHeader {
  background: #e3e6cc;
  text-align: center;
  font-size: 2rem;
  margin: 2.5rem 0 2rem 0;
  & {
    @media (width <= 540px) {
      font-size: 2rem;
    }
  }
}
