* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
  box-sizing: border-box;
  background-image: url("images/background15.jpg");
}

.bodywrapper {
  background: #e6e3cc;
}

body {
  background: #e6e3cc;
  color: hsl(41, 39%, 23%);
  max-width: 600px;
  border: 10px;
  border-style: double ridge;
  border-color: hsl(41, 39%, 23%);
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 10px 10px 8px black;
}

header {
  background: #e6e3cc;
  text-align: center;
  text-decoration: overline;
  font-size: 2rem;
  margin: 10px 0 20px 0;
}

.divider {
  background: #e6e3cc;
  color: #b9b591;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.menuWrapper {
  background: #e6e3cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 3rem;
}

.menuBtn {
  display: flex;
  align-items: center;
  height: 28px;
  color: #e6e3cc;
  background: hsla(61, 35%, 39%, 0.781);
  font-size: 10px;
  padding: 8px;
  box-shadow: 1px 1px 1px hsla(61, 35%, 30%, 0.822);
}

.menuBtn:active {
  color: #e6e3cc;
  -webkit-box-shadow: inset 0px 0px 5px hsla(61, 35%, 30%, 0.822);
  -moz-box-shadow: inset 0px 0px 5px hsla(61, 35%, 30%, 0.822);
  box-shadow: inset 0px 0px 5px hsla(61, 35%, 30%, 0.822);
  outline: none;
}

label {
  background: #e6e3cc;
  font-size: 10px;
  margin-top: 20px;
}

.btn {
  background: hsl(51, 23%, 61%);
  border: 2px ridge hsl(40, 21%, 61%);
  color: hsl(29, 44%, 22%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  box-shadow: 2px 1px 2px hsla(54, 85%, 13%, 0.678);
}

.btn:hover,
.btn:focus-visible {
  background: hsla(64, 84%, 34%, 0.39);
}

.btn:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.btn.btn-danger {
  background: hsla(27, 100%, 40%, 0.192);
  border: 1px dotted hsl(24, 99%, 36%);
  color: hsl(24, 99%, 36%);
  height: 20px;
  font-size: 8px;
  margin-top: 15px;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}

.btn.btn-yay {
  background: hsla(177, 100%, 40%, 0.192);
  border: 1px dotted hsl(157, 99%, 36%);
  color: hsl(182, 98%, 23%);
  height: 20px;
  font-size: 8px;
  margin-top: 15px;
}

.btn.btn-yay:hover,
.btn.btn-yay:focus-visible {
  background: hsla(209, 100%, 40%, 0.2);
}

.userHeader {
  background: #e6e3cc;
  text-align: center;
  font-size: 1.2rem;
  margin: 4rem 0 2rem 0;
}