* {
  font-family: "Macondo Swash Caps";
  box-sizing: border-box;
  background-image: url("images/background15.jpg");
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #aeb19d;
  font-size: 2rem;
  max-width: 600px;
  min-height: 950px;
  border: 10px;
  border-style: double ridge;
  border-color: hsl(29, 40%, 23%);
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 10px 10px 8px black;
}

.bodywrapper {
  background: #e3e6cc;
  font-size: 2rem;
  padding: 20px;
  box-shadow: 5px 5px 30px #e3e6cc;
}

header {
  font-family: "Macondo Swash Caps";
  border-radius: 5%;
  background: hsl(117, 21%, 35%);
  color: #e3e6cc;
  text-shadow: 5px 5px 2px black;
  text-decoration: overline;
  height: 7rem;
  text-align: center;
  align-content: end;
  font-size: 5rem;
  margin: 10px 0 20px 0;

  @media (max-width: 540px) {
    height: 6rem;
    font-size: 3.8rem;
    margin-bottom: 40px;
  }
  @media (max-width: 375px) {
    font-size: 3.2rem;
    align-content: center;
  }
  @media (max-width: 340px) {
    font-size: 3rem;
    align-content: center;
  }

  @media (max-width: 310px) {
    font-size: 2.5rem;
    align-content: center;
  }
}

.headDivider {
  background: #e3e6cc;
  color: hsl(108, 40%, 15%);
  text-align: center;
  margin: 2.5rem 0 2rem 0;
  word-break: break-all;
  font-size: 1.5rem;
  & {
    @media (400px <= width <= 540px) {
      font-size: 1rem;
    }
  }
  & {
    @media (340px <= width <= 400px) {
      font-size: 0.8rem;
    }
  }
  & {
    @media (width <= 340px) {
      font-size: 0.7rem;
    }
  }
}

.menuWrapper {
  background: hsla(61, 24%, 53%, 0.781);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10%;
  border-style: double;
  border-width: 4px;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 10%;
  gap: 0.3rem;
  row-gap: 1px;
  margin: 0, 3rem, 1.5rem, 3rem;
}

.menuBtn {
  display: flex;
  flex: 3 3 30%;
  height: 40px;
  margin-top: 1rem;
  align-items: end;
  justify-content: center;
  text-align: center;
  background: transparent;
  text-shadow: 2px 2px 2px black;
  color: #e3e6cc;
  font-size: 2rem;
  padding: 8px 0 8px 0;
  cursor: pointer;
  border: none;
  outline: none;
  & {
    @media (width <= 540px) {
      height: 2.5rem;
      font-size: 1.5rem;
    }
  }
}

.menuBtn:active {
  outline: black;
  color: hsl(108, 40%, 15%);
  text-shadow: 1px 1px 5px hsl(10, 44%, 16%);
}

.menuBtn:hover,
.menuBtn:focus-visible {
  color: #fdffeb;
}

label {
  background: #e3e6cc;
  margin-top: 20px;
  font-size: 2.5rem;
  align-items: center;
}

.divider {
  background: #e3e6cc;
  width: 100%;
  color: hsl(108, 40%, 15%);
  text-align: center;
  font-size: 4rem;
  margin-bottom: 40px;
  word-break: break-all;
  & {
    @media (width <= 540px) {
      font-size: 1.5rem;
    }
  }
}

.logo {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
