* {
  font-family: "Macondo Swash Caps";
  box-sizing: border-box;
  background-image: url("images/background15.jpg");
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background: #aeb19d;
  font-size: 2rem;
  max-width: 600px;
  min-height: 950px;
  border: 10px;
  border-style: double ridge;
  border-color: hsl(29, 40%, 23%);
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 10px 10px 8px black;
}

.bodywrapper {
  background: #e3e6cc;
  font-size: 2rem;
  padding: 20px;
  box-shadow: 5px 5px 30px #e3e6cc;
}

header {
  font-family: "Macondo Swash Caps";
  border-radius: 5%;
  background: hsl(116, 13%, 22%);
  color: #e3e6cc;
  text-shadow: 5px 5px 2px black;
  text-decoration: overline;
  height: 7rem;
  text-align: center;
  align-content:end;
  font-size: 5rem;
  margin: 10px 0 20px 0;

  @media (max-width: 540px) {
    height: 6rem;
    font-size: 3.8rem;
    margin-bottom: 40px;
  }
}

.headDivider {
  background: #e3e6cc;
  color: hsl(108, 40%, 15%);
  text-align: center;
  margin: 2.5rem 0 2rem 0;
  word-break: break-all;
  font-size: 1.5rem;
  & {
    @media (400px <= width <= 540px) {
      font-size: 1rem;
    }
  }
  & {
    @media (340px <= width <= 400px) {
      font-size: 0.8rem;
    }
  }
  & {
    @media (width <= 340px) {
      font-size: 0.7rem;
    }
  }
}

.menuWrapper {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  row-gap: 1px;
  margin: 0, 3rem, 1.5rem, 3rem;
}

.menuBtn {
  display: flex;
  flex: 3 3 30%;
  height: 40px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  color: hsl(120, 41%, 31%);
  font-size: 2rem;
  padding: 8px 0 8px 0;
  font-weight: 1000;
  cursor: pointer;
  border: none;
  outline: none;
  & {
    @media (width <= 540px) {
      height: 2.5rem;
      font-size: 1.5rem;
    }
  }
}

.menuBtn:active {
  color: #e3edfc;
  outline: none;
  border: none;
  text-shadow: 1px 1px 1px hsla(62, 21%, 35%, 0.781);
}

.menuBtn:hover,
.menuBtn:focus-visible {
  color: hsla(56, 42%, 60%, 0.842);
}

.questExplanation {
  background: transparent;
  color: hsla(62, 21%, 35%, 0.781);
  border: none;
  font-size: 3rem;
  margin-left: 12px;
}

.questExplanation:active {
  color: hsl(108, 40%, 15%);
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.questExplanation:hover,
.menuBtn:focus-visible {
  color: hsla(56, 42%, 60%, 0.842);
  cursor: pointer;
}

label {
  background: #e3e6cc;
  margin-top: 20px;
  font-size: 2.5rem;
  align-items: center;
}

.divider {
  background: #e3e6cc;
  width: 100%;
  color: hsl(108, 40%, 15%);
  text-align: center;
  font-size: 4rem;
  margin-bottom: 40px;
  word-break: break-all;
  & {
    @media (width <= 540px) {
      font-size: 1.5rem;
    }
  }
}

.logo {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
