* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
  box-sizing: border-box;
  background-image: url("images/background15.jpg");
}

body {
  background: #e6e3cc;
  color: hsl(41, 39%, 23%);
  max-width: 600px;
  min-height: 950px;
  border: 10px;
  border-style: double ridge;
  border-color: hsl(41, 39%, 23%);
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 10px 10px 8px black;
}

.bodywrapper {
  background: #e6e3cc;
}

header {
  background: #e6e3cc;
  text-align: center;
  text-decoration: overline;
  font-size: 2rem;
  margin: 10px 0 20px 0;
}

.headDivider {
  background: #e6e3cc;
  color: #b9b591;
  text-align: center;
  margin: 2.5rem 0 2rem 0;
  word-break: break-all;
}

.menuWrapper {
  background: #e6e3cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .3rem;
  row-gap: 1px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;

}

.menuBtn {
  display: flex;
  flex: 3 3 20%;
  height: 20px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e6e3cc;
  border: 2px ridge hsla(61, 34%, 50%, 0.781);
  background: hsla(61, 35%, 39%, 0.781);
  box-shadow: 1px 1px 1px hsl(29, 44%, 22%);
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
}

.menuBtn:active {
  color: #e6e3cc;
  -webkit-box-shadow: inset 0px 0px 5px  hsl(29, 44%, 22%);;
  -moz-box-shadow: inset 0px 0px 5px  hsl(29, 44%, 22%);;
  box-shadow: inset 0px 0px 5px hsl(29, 44%, 22%);;
  outline: none;
}

.menuBtn:hover,
.menuBtn:focus-visible {
  background: hsla(64, 32%, 53%, 0.842);
}

label {
  background: #e6e3cc;
  font-size: 10px;
  margin-top: 20px;
}

.btn {
  background: hsl(51, 23%, 61%);
  border: 2px ridge hsl(40, 21%, 61%);
  color: hsl(29, 44%, 22%);
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  box-shadow: 2px 1px 2px hsla(54, 85%, 13%, 0.678);
}

.btn:hover,
.btn:focus-visible {
  background: hsla(65, 37%, 42%, 0.39);
}

.btn:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.btn.btn-danger {
  background: hsla(27, 100%, 40%, 0.192);
  border: 1px ridge hsl(24, 98%, 46%);
  color: hsl(24, 99%, 36%);
  height: 20px;
  font-size: 8px;
  margin-top: 15px;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}

.btn.btn-yay {
  background: hsla(177, 100%, 40%, 0.192);
  border: 1px ridge hsl(157, 99%, 36%);
  color: hsl(182, 98%, 23%);
  height: 20px;
  font-size: 8px;
  margin-top: 15px;
}

.btn.btn-yay:hover,
.btn.btn-yay:focus-visible {
  background: hsla(209, 100%, 40%, 0.2);
}

.userHeader {
  background: #e6e3cc;
  text-align: center;
  font-size: 1.2rem;
  margin: 2.5rem 0 2rem 0;
}

.divider {
  background: #e6e3cc;
  width:100%;
  color: #b9b591;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

.logo {
  background: #e6e3cc;
  display:flex;
  flex-direction: column;
  margin:auto;
  text-align: center;
  height: 100px;
}