* {
  font-family: "Tangerine";
  box-sizing: border-box;
  background-image: url("images/background15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #aeb19d;
  font-family: "Tangerine";
  font-size: 2rem;
  color: hsl(246, 41%, 31%);
  max-width: 600px;
  min-height: 950px;
  border: 10px;
  border-style: double ridge;
  border-color: hsl(29, 40%, 23%);
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 10px 10px 8px black;
}

.bodywrapper {
  background: #e3e6cc;
  font-size: 2rem;
  padding: 20px;
  box-shadow: 5px 5px 30px #e3e6cc;
}

header {
  font-family: "Monsieur La Doulaise";
  color: hsl(216, 33%, 56%);
  background: #e3e6cc 35%;  
  text-align: center;
  font-size: 5rem;
  margin: 10px 0 20px 0;
  font-weight: 1000;
  text-shadow: 2px 2px 10px  hsl(60, 19%, 23%);
  text-shadow: 1px 1px 1px  black;

}

.headDivider {
  background: #e3e6cc;
  color: hsl(246, 41%, 31%);
  text-align: center;
  margin: 2.5rem 0 2rem 0;
  word-break: break-all;
  font-size: 1.5rem;
}

.menuWrapper {
  background: #e3e6cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  row-gap: 1px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.menuBtn {
  display: flex;
  flex: 3 3 30%;
  height: 20px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  color: hsl(246, 41%, 31%);
  border: none;
  font-size: 2.5rem;
  padding: 8px 0 8px 0;
  font-weight: 1000;
  cursor: pointer;
  & {
    @media (width <= 450px) {
      padding: 14px 5px 14px 5px;
    }
  }
}

.menuBtn:active {
  color: #e3edfc;
  outline: none;
}

.menuBtn:hover,
.menuBtn:focus-visible {
  color: rgb(202, 72, 20);
  text-shadow: 0px 0px 3px rgb(100, 2, 2);
}

.questExplanation {
  background: transparent;
  color: hsla(62, 21%, 35%, 0.781);
  border: none;
  font-size: 3rem;
  margin-left: 12px;
}

.questExplanation:active {
  color: hsl(244, 45%, 22%);
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.questExplanation:hover,
.menuBtn:focus-visible {
  color: rgb(202, 72, 20);
  text-shadow: 0px 0px 3px rgb(100, 2, 2);
  cursor: pointer;
}

label {
  background: #e3e6cc;
  margin-top: 20px;
  font-size: 2.5rem;
  align-items: center;
}

.btn {
  background: hsla(61, 24%, 53%, 0.781);
  border: 2px ridge hsla(60, 21%, 38%, 0.781);
  color: #e3edfc;
  text-shadow: 1px 1px 5px rgb(119, 36, 3);
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 1000;
  box-shadow: 2px 2px 2px hsla(54, 85%, 13%, 0.678);
}

.btn:hover,
.btn:focus-visible {
  background: hsla(56, 42%, 60%, 0.842);
}

.btn:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.btn.btn-danger {
  display:flex;
  background: hsla(27, 100%, 40%, 0.192);
  border: 1px ridge hsl(24, 84%, 48%);
  color:hsl(12, 84%, 48%);
  font-size: 1.5rem;
  text-align: center;
  padding:2px 40px;
  width: 60%;
  margin:auto;
  margin-top: 30px;
  justify-content: center;

  
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background:  hsla(27, 86%, 60%, 0.466);
}


.userHeader {
  background: #e3e6cc;
  text-align: center;
  font-size: 2rem;
  margin: 2.5rem 0 2rem 0;
}

.divider {
  background: #e3e6cc;
  width: 100%;
  color: #9791b9;
  text-align: center;
  font-size: 6rem;
  word-break: break-all;
}

.logo {
  background: #e3e6cc;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
