/*--RECORDS PAGE--*/
.profileInfo {
  background: #e3e6cc;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  row-gap: 40px;
}

.profile {
  background: #e3e6cc;

}

.logo-tag-archive {
  background: #e3e6cc;

  text-decoration: none;
  margin-top: 7.8vh;
  color: hsl(246, 41%, 31%);
  cursor:default;
  font-size: 12px;
}
