/*--RECORDS PAGE--*/
.profileInfo {
  background: #e6e3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  row-gap: 40px;
}

.profile {
  background: #e6e3cc;
}

.logo-tag-archive {
  background: #e6e3cc;
  text-decoration: none;
  margin-top: 7.8vh;
  color: hsl(41, 39%, 23%);
  cursor:default;
  font-size: 12px;
}
